* {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
.dark-mode{
  --pc:white;
  --sc:black;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background-image: linear-gradient(rgb(42, 45, 55), rgb(145, 145, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  padding: 20px;
  margin: 0;
}
.navibar {
  background-color: black;
  justify-content: center;
  width: max-content;
  display: flex;
  margin: auto;
  padding: 1.5cqh 2.3cqw;
  border-radius: 40px;
  gap: 3%;
}

.nav-button {
  transition: all .3s ease-in-out;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  border-radius: inherit;
  border: transparent;
  text-align: center;
  text-wrap: nowrap;
  cursor: pointer;
  color: rgb(240, 240, 255);
  padding: 1.5cqh 1.5cqw;
}

.nav-button:hover {
  background-color: rgb(200, 200, 255);
  color: black;

}
.nav-button:active {
  background-color: rgb(239, 239, 255);
  color: black;
}

.nav-button:focus {
  background-color: rgb(182, 183, 217);
  color: black;
}

.dropdown {
  border-radius: inherit;
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #2c2c2c;
  padding: 3vh 1vw;
  width: max-content;
  display: flex;
  border-radius: 6px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  flex-direction: column;
  z-index: 99;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown:hover .dropdown-toggle {
  background-color: rgb(200, 200, 255);
  color: black;
}


.dropdown-menu a {
  color: black;
  text-decoration: none;
  padding: 0;
  border-radius: 10px;
}

#msg {
  text-decoration: underline;
  cursor: pointer;
}

.dropdown-name,
.dropdown-email {
  color: white;
  font-size: 14px;
}

hr {
  border: none;
  height: 1px;
  background-color: #444;
  margin: 10px 0;
}

.sttngsbtn {
  display: block;
  text-align: center;
  cursor: pointer;
  padding: .5vh 1vw;
  border-radius: 10px;
  width: 100%;
  transition: all .3s ease-in-out;
}

.sttngsbtn:hover {
  background-color: rgb(179, 178, 178);
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.account-information {
  margin: 0;
  font-weight: 100;
  text-align: center;
  display: flex;
  gap: 5px;
  flex-direction: column;
}