        body {
            height: 100%;
            font-family: Arial, sans-serif;
            margin: 30px;
            background-image: linear-gradient(rgb(42, 45, 55), rgb(145, 145, 255));
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh;
            padding: 20px;
            margin: 0;
        }

        h2 {
            margin-top: 10px;
            color: white;
        }

        .navibar {
        background-color: black;
        justify-content: center;
        width: max-content;
        display: flex;
        margin-bottom: 10px;
        padding: 1.5cqh 1.3cqw;
        border-radius: 40px;
        gap: 3%;
        }

        .nav-button {
        transition: all .3s ease-in-out;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-weight: bold;
        background-color: transparent;
        border-radius: inherit;
        border: transparent;
        text-align: center;
        text-wrap: nowrap;
        cursor: pointer;
        color: rgb(240, 240, 255);
        padding: 1.5cqh 1.5cqw;
        }

        .nav-button:hover {
        background-color: rgb(200, 200, 255);
        color: black;

        }
        .nav-button:active {
        background-color: rgb(239, 239, 255);
        color: black;
        }

        .nav-button:focus {
        background-color: rgb(182, 183, 217);
        color: black;
        }

        .active {
            background: rgb(219, 234, 254);
            font-weight: bold;
            text-align: center;
            text-wrap: nowrap;
        }

        .active:hover {
            background-color: #deedff;
            
        }

        .card {
            background: rgb(0, 0, 0);
            color: white;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
            max-width: 800px; 
            max-width: 100%;        
            margin: 0 auto;    
        }


        #studentList {
            margin-top: 20px;
            padding: 10px;
            background: rgb(0, 0, 0);
            border-radius: 8px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
            display: none;
        }

        #studentList h4 {
            margin-top: 0;
        }

        ul {
            padding-left: 20px;
        }

        li.present {
            color: green;
        }

        li.absent {
            color: red;
        }

        li.late {
            color: orange;
        }
