* {
  margin: 0;
  padding: 0;

}
body {
  background-image: linear-gradient(rgb(42, 45, 55), rgb(145, 145, 255));
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navibar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: rgb(42, 45, 55);
  padding: 20px;
}

.navibar a {
  color: rgb(240, 240, 240);
  cursor: pointer;
  margin: 20px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.navibar a:hover {
  background-color: rgb(137, 137, 175);
  transform: translate(-10px);
  border-radius: 10px;
  border-radius: 5px;
  padding: 15px;
}

.navibar a.active {
  background-color: #444;
  color: #fff;
  border-radius: 8px;
}