* {
  margin: 0;
  padding: 0;
  
}

.navibar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #2a2d36;
    padding: 20px
    
    
}
.navibar a {
    color: rgb(217, 217, 217);
    cursor: pointer;
    margin: 20px;
    transition: all 0.3s ease-in-out; 
}

.navibar a:hover{
    background-color: rgb(114, 120, 118);
    transform: translate(-10px);
    border-radius: 10px;
    border-radius: 5px;
    padding: 15px;
    
}
.navibar a.active {
  background-color: #444;
  color: #fff;
  border-radius: 8px;
}
